<div class="header">
  <div class="header-left">
      <div class="header-logo">
          <img src="/assets/Frame.svg" alt="Логотип сайта">
      </div>
      <nav class="header-nav">
          <div class="header-nav-item">Главная</div>
          <div class="header-nav-item">О компании</div>
          <div class="header-nav-item">Каталог</div>
      </nav>
  </div>
  <div class="header-right">
      <div class="header-logo-phone">
          <img src="/assets/Phone.svg" alt="Логотип телефон">
      </div>
      <nav class="header-nav-number">+7 (965) 084-29-29</nav>
      <div class="header-logo-heart">
          <img src="/assets/Vector.svg" alt="Логотип сердечко">
      </div>
      <button class="header-cart">
          <img src="/assets/Mask group.svg" alt="Логотип корзина">
          <nav class="header-nav-empty">Пусто</nav>
      </button>
  </div>
</div>

<div class="header-2">
  <div class="header-left-2">
      <div class="header-2-logo">
          <img src="/assets/light.svg" alt="Иконка блоки">
          <nav class="header-nav-item-0">Каталог</nav>
      </div>
      <nav class="header-2-nav">
          <div class="header-nav-item-1">Стройматериалы</div>
          <div class="header-nav-item-1">Инструменты</div>
          <div class="header-nav-item-1">Электрика</div>
          <div class="header-nav-item-1">Интерьер и одежда</div>
      </nav>
  </div>
  <div class="header-right-2">
      <div class="header-2-search">
          <input type="search" placeholder="Поиск,например Круг зачистной">
          <img src="/assets/Mask group search.svg" alt="Иконка поиска лупа" class="input-icon">
      </div>
      <div class="header-2-logo-Moscov">
          <img src="/assets/Time.svg" alt="Гео-логотип Москва">
      </div>
  </div>
</div>